<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="bootstrap.css">
<style>
    .box{
        margin: 50px auto;
        width: 80%;
    }
    .mb-3{
        display: inline-block;
        margin: 10px;
        width: 350px;
        cursor: pointer;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <!--내비 바-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="board.html">Board</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="member.html">Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="signin.html">Sign In</a>
                <a class="dropdown-item" href="signout.html">Sign Out</a>
                <a class="dropdown-item" href="signup.html">Sign Up</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>
    <!--게시글 리스트-->
    <div class="box">
        <div class="card mb-3" onclick="moveToDetail()">
            <h3 class="card-header">Title</h3>
            <div class="card-body">
                <h5 class="card-title">Content</h5>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="card mb-3" onclick="moveToDetail()">
            <h3 class="card-header">Title</h3>
            <div class="card-body">
                <h5 class="card-title">Content</h5>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="card mb-3" onclick="moveToDetail()">
            <h3 class="card-header">Title</h3>
            <div class="card-body">
                <h5 class="card-title">Content</h5>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="card mb-3" onclick="moveToDetail()">
            <h3 class="card-header">Title</h3>
            <div class="card-body">
                <h5 class="card-title">Content</h5>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
        <script type="text/javascript" src="bootstrap.js" charset="UTF-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
        <script>
            function moveToDetail(){
                location.href="#";
            }
        </script>
    </body>
    </html>